*{
    margin: 0;
    padding: 0;
}

html, body{
    font-family: 'open sans' ,sans-serif;
    line-height: 1.4;
    color: #000;
}

a{
    color: #000;
}

ul{
    color: #000;
}

p{
   line-height: 1.7;
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
}

.navbar{
    width: 100%;
    height: auto;
    background-color: #fff;
   padding: 20px 0 ;
   box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
   0 0 2px rgb(0 0 0 / 7%);
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;
}
.navbar-brand img{
    width: 50px;
    height: 50px;
}
.navbar-nav-right img{
    width: 20px;
    height: 20px;
    margin-right: 10px; 
}
.navbar ul{
    display: flex;
    align-items: center;
}
.navbar li{
    margin: 0 15px;
    font-weight: bold;
}
.navbar a{
    text-decoration: none;
    color: #000;
}
.navbar a:hover{
    color:#006241;
}
.navbar-nav-left{
    flex: 1;
    margin-left:20px;
}
.navbar-nav-right li:first-child a {
    display: flex;
    align-items: center;
}
.navbar-nav-right li:nth-child(2){
    margin: 0 5px;
}
/* Button  */
.btn{
    cursor: pointer;
    display: inline-block;
    background: none;
    border: 1px #000 solid;
    border-radius: 50px;
    padding: 7px 16px;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
}
.btn-dark-outline{
    border-color: #000;
    color: #000;
}
.btn-dark{
    background-color: #000;
    color: #fff;
}
.btn-dark-outline:hover{
    background-color: rgba(0,0,0,0.06);
}
.btn-dark:hover{
    background-color: #333;
}
.root_box{
    margin: 40px;
    float: left;
    
}
.box-1 img{
    width: 50%;
    height: auto;
    float: left;
}
.box-2{
    float: left;
    width: 50%;
    background-color: #1e3932;
    height: auto;

}
.outer1-2, .outer3-4, .outer5-6, .outer7-8, .outer9-10{
    width:100%;
    height: auto;

    float: left;
}
.b2head{
    text-align: center;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 60px;
}
.btn-b2{
    margin: 0 260px;
    border-radius: 50px;
    padding: 10px 16px;
    cursor: pointer;
    border: 1px solid #fff;
    background-color: #1e3932;
    color: #fff;
    margin-bottom: 35px;
    line-height: 1.5;
    font-weight: 600;
}
.btn-b2:hover{
    background-color: #33433d;
}
.box-3{
    float: left;
    width: 50%;
    height: auto;
    justify-content: center;

    margin-top: 40px;
    background-color:#1e3932 ;
    color: #fff;
    align-items: center;
    height: 625px;
}

.container{
    padding: 100px 100px;
}
.b3head{
    text-align: center;
    font-size: 1.5cm;
    line-height: 1.1;
    font-weight: bold;
    padding-top: 50px;
}
.b3p{
    text-align: center;
    padding-top: 20px;
    font-size: 25px;

}
.btn-b3{
    margin: 24px 200px;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 7px 22px;
    background: #1e3932;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.btn-b3:hover{
    background-color: #33433d;
}
.box-4 {
    float: left;
    width: 50%;
    height: auto;

    margin-top: 40px;
}
.box-5 {
    float: left;
    width: 50%;
    height: auto;

    margin-top: 40px;
}
.box-6{
    float: left;
    width: 50%;
    height: auto;

    margin-top: 40px;
    background-color:#1e3932 ;
    color: #fff;
    align-items: center;
    height: 624px;
}
.b6head{
    text-align: center;
    font-size: 1.5cm;
    line-height: 1.1;
    font-weight: 790;
    padding-top: 200px;
}
.b6p{
    text-align: center;
    padding-top: 30px;
    font-size: 25px;
    margin: 0 83px;
}
.btn-b6{
    margin: 35px 303px;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 7px 22px;
    background: #1e3932;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.btn-b6:hover{
    background-color: #33433d;
}
.box-7{
    float: left;
    width: 50%;
    height: 441px;

    margin-top: 40px;
    background-color: #d4e9e2;
}
.con2{
    padding: 0 100px;
}
.b7head{
    text-align: center;
    font-size: 24px;
    
    padding-top: 50px;
}
.b7p{
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
    
}
.btn-b7{
    margin: 35px 200px;
    border: 1px solid #000;
    border-radius: 50px;
    font-size: 15px;
    padding: 8px 16px;
    background: #d4e9e2;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}
.btn-b7:hover{
    background-color:#becfca;
}
.box-8 img{
    float: left;
    width: 50%;
    height: 441px;
    

    margin-top: 40px;
}
.box-9{
    width: 50%;
    float: left;
    margin-top: 40px;
}
.box-10{
    width: 50%;
    float: left;
    background-color: #d4e9e2; 
    margin-top: 40px;
    height: 419.2px;
}
.b10head{
    text-align: center;
    font-size: 24px;
    padding-top: 85px;
    
}
.b10p{
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
}
.con3{
    padding:0 102px;
}
.btn-b10{
    margin: 35px 200px;
    border: 1px solid #000;
    border-radius: 50px;
    font-size: 15px;
    cursor: pointer;
    background: #d4e9e2;
    color: #000;
    font-weight: bold;
    height: 40px;
    width: 130px;
}
.btn-b10:hover{
    background-color:#becfca;
}
.box_11-12{
    width: auto;
    height: auto;
    float: left;
    align-items: center;
    text-align: center;
}
.box_11 , .box_12{
margin: 50px 363px;
}
.box_11 a:hover{
    text-decoration: none;
}
.box_12{
    margin-top: 80px;
    margin-bottom: 0;
}
.foot{
    width: 100%;
    height: auto;
    float: left;
    box-shadow:0px -1px 1px 0px;
}
.ultext{
    width: auto;
    height: auto;
    float: left;
    line-height: 1.7cm;
   margin: 20px;
    
}
.ultext a{
    text-decoration: none;
    color: rgba(0,0,0,.58);
}
.ultext a:hover{
    color: #000;
}
.litext{
    font-size: 20px;
    color: #000;
}
.foot_cont{
    box-shadow:0px -1px 0px 0px;
    float: left;
    width: 1460px;
    height: auto;
    margin: 0 25px;
}
.footbar ul{
    display: flex;
    float: left;
    justify-content: space-between;
    align-items: center;
}
.footbar li{
    margin: 10px 20px;
}
.footbar a{
    text-decoration: none;
}
.footbar a:hover{
    text-decoration:underline;
}
.copywrite{
    float: left;
    width: 100%;
    color: rgba(0,0,0,.58);
    margin: 20px;
    font-size: 13px;
}
.icons{
    margin: 0 14px;
}
.icons img{
    width: 35px;
    margin: 20px 7px;
    
}
.icons a:hover{
    text-decoration: none;
}
